
html{
	font-size: 20px;
}

body{
	margin: 0;
	padding: 0;
	/*background: black;*/
}

input, button, select, textarea {
	outline: none; /*去掉chrome浏览器自带的点击input框出现边框情况*/
	-webkit-appearance: none;  /*去掉按钮样式*/
	border-radius: 0;  /*去掉圆角*/
}

button{
	border: 0;
	background-color: transparent;
	font-size: 1rem;
	color: white;
}

/*修改placeholder颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    lightgray;
    /*font-size: 0.5rem;*/
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #lightgray;
    /*font-size: 0.5rem;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #lightgray;
    /*font-size: 0.5rem;*/
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #lightgray;
    /*font-size: 0.5rem;*/
}

.reminder{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: red;
	font-size: 0.5rem;
	text-align: center;
	background: rgb(247,247,247);
}

.content{
	margin-left: 1rem;
	margin-right: 1rem;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
	border-bottom: solid 0.05rem rgb(222,222,222);
}

.item-title.label{
	font-size: 0.8rem;
	min-width: 4rem;
}

.item-title.invite,
.item-title.account,
.item-title.start-city,
.item-title.passenger,
.item-title.seat{
	font-size: 0.8rem;
	min-width: 4rem;
	/*color: crimson;*/
	color: rgb(255,126,44);
}

.item-title.phone,
.item-title.password,
.item-title.end-city,
.item-title.train-num,
.item-title.date{
	font-size: 0.8rem;
	min-width: 4rem;
	color: crimson;
	/*color: mediumseagreen;*/
}

/*无  的显示样式*/
.item-input{
	margin-left: 0.5rem;
	padding-top: 0.4rem ;
	padding-bottom: 0.4rem;
	
	text-align: left;
	
	color: darkslategray;
	font-size: 0.7rem;
}

.item-input.text{
	border: 0;
	outline: none;
	font-size: 0.7rem;
	color: black;
	background: white;
	/*max-width: 12rem;*/
}

.content-seat, .content-date{
	margin-left: 1rem;
	margin-right: 1rem;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
	justify-content: space-between;
	
	border-bottom: solid 0.05rem rgb(222,222,222);
}

.content-seat-parent, .content-date-parent{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.item-add{
	display: flex;
	flex-direction: row;
	align-items: center;
	
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.item-image{
	width: 1.5rem;
	height: 1.5rem;
}


.content-list{
	display: none;
    position:fixed; 
    width: 100%;
	background: rgb(237,237,237);
    z-index: 3; 
    animation:myfirst 2s; 
    -webkit-animation:myfirst 2s; 
    animation-fill-mode: forwards; 
    
    @-webkit-keyframes myfirst";
}

@-webkit-keyframes myfirst  
    { 
        0%   {bottom:-100%;}  
        /* 25%  {bottom:-75%;} 
        50%  {bottom:-50%;} 
        75%  {bottom:-25%;}    */
        100% {bottom:0%;}   
    }

.content-list-header, .content-list-li{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	border-bottom: dashed 0.05rem lightgray;
}

.content-list-header{
	padding-left: 1rem;
	padding-right: 1rem;
}

.content-list-li{
	margin-left: 1rem;
	margin-right: 1rem;
}

.content-list-header{
	background: rgb(255,126,44);
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.content-space{
	height: 2rem;
}

#background{
	display: none;
	position: fixed; 
  	width: 100%; 
 	height: 100%; 
  	bottom: 0%; 
  	opacity: 0.8; 
  	background: black; 
  	z-index: 2;
}


.sumbit{
	margin-top: 3rem;
	background: #008080;
	height: 2.2rem;
	line-height: 2.2rem;
	text-align: center;
	color: white;
}








/*以下为日历*/
.content-calander{
	display: none;
	position: fixed;
	z-index: 8;
	width: 100%;
	/*height: 200%;*/
	top: 2rem;
	bottom: 0%; /*fixed 时应该加上*/
	/*background: black;*/
}

/*日历*/
.em-calendar {
	border-bottom: 1px solid #e0e0e0;
}


/*左右切换*/

/*上一月  2018-07-23  下一月*/
.em-journal-title {
	width: 100%;
	display: block;
	height: 50px;
	line-height: 50px;
	/*background-color: #3C80E6;*/
	background-color:#008080;
}

.em-per-block {
	float: left;
	width: 33%;
	color: #fff;
	font-size: 18px;
}

.em-per-block.pre {
	text-align: left;
	font-size: 15px;
}

.em-per-block.next:active,
.em-per-block.pre:active {
	background-color: #3a79d8;
	border-radius: 15px;
	font-weight: 800;
}

.em-per-block.mid {
	text-align: center;
	font-size: 18px;
}

.em-per-block.next {
	text-align: right;
	font-size: 15px;
}

.backToday {
	/*background: #3c80e6;*/
	background: #008080;
	color: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
}


.certain {
	/*background: #3c80e6;*/
	margin-top: 30px;
	/*background: #E60012;*/
	background: #008080;
	color: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
}